alembic
asyncpg
celery
chromadb
fastapi-cli
fastapi[standard]
google-generativeai
protobuf==3.20.3
langchain
langchain-google-genai
langchain-ollama
langchain-core
langchain-text-splitters
langchain_chroma
langgraph
langgraph-checkpoint
pydantic
pydantic-settings
pydantic_core
PyGithub
psycopg2-binary
redis
SQLAlchemy
uvicorn
requests
pandas
streamlit==1.39.0
